# Chain Info
NEXT_PUBLIC_CHAIN_NAME=junotestnet
NEXT_PUBLIC_CHAIN_RPC_ENDPOINT=https://juno-uni-5.mib.tech/
NEXT_PUBLIC_FEE_DENOM=ujunox

# Contracts
NEXT_PUBLIC_MULTI_HOP_CONTRACT_ADDRESS=juno1fj20y8kflv9usxlvmyg3k8n6gjk6y2xgkfax4nxta3fqwf2uh26q8hk6td
NEXT_PUBLIC_FACTORY_CONTRACT_ADDRESS=juno1yep3ej3uhpkuqhmesfzmrs0agheq3q2xzsc0dhncqkdh3llg8qvs0rqeke

# App Constants
NEXT_PUBLIC_REST_API_ENDPOINT=http://localhost:3333
NEXT_PUBLIC_EXPLORER_URL=https://testnet.juno.explorers.guru/transaction/
NEXT_PUBLIC_INDEXER_API_ENDPOINT=http://104.248.18.108:3400

# Environment
NEXT_PUBLIC_ENVIRONMENT=dev
